@import "tailwindcss";

.body {
  background-color: black;
  color: white;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;  
}
}